body{
	font-family: "微软雅黑";
	font-size: 15px;
	color: #333;
	overflow: hidden;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.h1{
	float: left;
	margin-left: 50px;
	font-size: 20px;
}
header{
	width: 80%;
	height: 10%;
	position: absolute;
	top: 0px;
	left: 10%;
	background: #00BFFF;
}